body{
   background-color: #0b344e;
   font-family: 'Inter', sans-serif;
}

.profile-pic{
    width: 250px;
    height: 250px;
    border-radius: 50%; /* pour un effet rond*/
    object-fit:cover;
    border: 2px solid white;
}

.fond-profile{
    background-color: #0b344e
}
.java{
    background-color: #dadce0
}
.python{
    background-color: #dadce0
}
.description{
    background-color: #0b344e
}
.cpp{
    background-color: #dadce0
}
.tech{
    background-color: #0b344e
}
.ecriture-profile{
    color: white
}
.techecrit{
    color: white
}
.ecrit{
    color: white
}
.btn-custom {
    background-color: #f5f6f7; /* Couleur de fond personnalisée */
    color: #0b344e; /* Texte en blanc */
    font-size: 18px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    padding: 12px 20px; /* Espace intérieur */
    border-radius: 8px; /* Coins arrondis */
    text-transform: uppercase; /* Mettre le texte en majuscules */
    transition: 0.3s ease-in-out; /* Animation fluide */
    text-decoration: none; /* Enlever le soulignement */
    display: inline-block; /* Garder le bouton en ligne */
}

.btn-custom:hover {
    background-color: #0b344e; /* Changer la couleur au survol */
    transform: scale(1.05); /* Légère augmentation de la taille */
}
.competences{
    background-color: #0b344e
}
.btn-github {
    background-color: #0b344e; /* Fond noir */
    color: white; /* Texte blanc */
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px; /* Coins arrondis */
    text-transform: uppercase;
    text-decoration: none; /* Pas de soulignement */
    transition: 0.3s ease-in-out; /* Animation fluide */
    display: inline-block;
}

.btn-github:hover {
    background-color: #f5f6f7; /* Gris foncé au survol */
    transform: scale(1.05); /* Légère augmentation de la taille */
}
.btn-navig {
    background-color: #0b344e; /* Fond blanc */
    color: black; /* Texte noir */
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px; /* Coins arrondis */
    text-transform: uppercase;
    text-decoration: none; /* Pas de soulignement */
    border: 2px solid black; /* Bordure noire pour un bon contraste */
    transition: 0.3s ease-in-out; /* Animation fluide */
    display: inline-block;
}

.btn-navig:hover {
    background-color: #05213e; /* Gris clair au survol */
    transform: scale(1.05); /* Légère augmentation de la taille */
}


